## Read in individual DF's

In [1]:
import pandas as pd
import numpy as np

### Brazil

In [5]:
brazil_df = pd.read_csv('./data/brazil_df.csv')
brazil_df.head()

,Year,B_hectares_harvested,B_hectograms_per_hectare_yield,B_tonnes_produced,usa_retail_price,Thousand Units (Bags of 60 kg),B_thousand_USD_grn_coffee_prod,B_annual_avg_temp
0,1990,2908960,5036,1464856,2.97,18297.617,1.573783e+06,25.12
1,1991,2763440,5502,1520382,2.81,18661.180,1.633438e+06,25.05
2,1992,2500320,5177,1294373,2.58,18290.453,1.390623e+06,24.91
3,1993,2259330,5660,1278759,2.47,19217.137,1.373848e+06,25.02
4,1994,2097650,6232,1307289,3.40,17326.104,1.404499e+06,25.14

In [8]:
# change 'Year' column to match 'year'
brazil_df = brazil_df.rename(columns={'Year':'year'})

### Colombia

In [6]:
colombia_df = pd.read_csv('./data/colombia_capp.csv')
colombia_df.head()

,year,col_annual_crop_yield,col_prod_60kg_bags,col_annual_celsius_change,global_change_in_celsius
0,1990,NaN,14396.000,0.258,0.66
1,1991,863760.00,17980.397,0.347,0.53
2,1992,1078823.82,14946.878,0.532,0.25
3,1993,896812.68,11422.422,0.157,0.36
4,1994,685345.32,12964.000,0.162,0.49

### Ethiopia

## Merging

In [10]:
braz_colu = pd.merge(brazil_df, colombia_df, on='year')
braz_colu.head()

,year,B_hectares_harvested,B_hectograms_per_hectare_yield,B_tonnes_produced,usa_retail_price,Thousand Units (Bags of 60 kg),B_thousand_USD_grn_coffee_prod,B_annual_avg_temp,col_annual_crop_yield,col_prod_60kg_bags,col_annual_celsius_change,global_change_in_celsius
0,1990,2908960,5036,1464856,2.97,18297.617,1.573783e+06,25.12,NaN,14396.000,0.258,0.66
1,1991,2763440,5502,1520382,2.81,18661.180,1.633438e+06,25.05,863760.00,17980.397,0.347,0.53
2,1992,2500320,5177,1294373,2.58,18290.453,1.390623e+06,24.91,1078823.82,14946.878,0.532,0.25
3,1993,2259330,5660,1278759,2.47,19217.137,1.373848e+06,25.02,896812.68,11422.422,0.157,0.36
4,1994,2097650,6232,1307289,3.40,17326.104,1.404499e+06,25.14,685345.32,12964.000,0.162,0.49